html {
  font-size: 14px;
  font-weight: 350;
  position: relative;
  min-height: 100%;
}

#main-content {
  opacity: 0;
  transition: opacity 0.5s linear;
}

#main-content.show {
  opacity: 1;
}

.footer {
  width: 100%;
  font-size: 80%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#footer-navbar {
  display: block;
  border-top: 1px solid var(--border-color);
  border-bottom: none;
  font-size: 110%;
}
@media screen and (min-width: 768px) {
  #footer-navbar {
    display: none;
  }
}
#footer-navbar {
  backdrop-filter: saturate(180%) blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.grid-container-admin {
  display: grid;
  grid-template-columns: repeat(4, auto);
}
.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: .75rem;
  margin-bottom: .25rem;
  text-decoration: none;
  color: var(--bs-light);
  font-size: 90%;
}
a.grid-item:hover, a.grid-item.active {
  color: #8D6D42 !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 1.5rem;
  background-color: black;
  color: var(--bs-light);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.font-bold {
  font-weight: 900;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

#mobile-menu {
  background-color: black;
  position: fixed;
  z-index: 1040;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

#mobile-menu>#logo-menu {
  position: absolute;
  width: 50px;
  height: 50px;
  top: .7rem;
  left: .75rem;
}

#mobile-menu>#user-menu {
  position: absolute;
  top: 1rem;
}

#mobile-menu>#close-menu {
  position: absolute;
  top: .6rem;
  right: 1rem;
  background: none;
  border: none;
  color: #EDF2F9;
  font-size: 2rem;
  cursor: pointer;
}

#mobile-menu>#link-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

input.login-form.form-control {
  padding-left: 0;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

select.login-form.form-control {
  padding-left: 0;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

a.nav-link {
  color: var(--bs-light);
  font-weight: 350;
}

a.nav-link:hover,
a.nav-link:focus {
  color: #8D6D42
}

a.dropdown-item {
  color: var(--bs-light);
  font-weight: 350;
}

a.dropdown-item:hover,
a.dropdown-item:focus {
  background-color: var(--bs-gray-700) !important;
  color: var(--bs-light);
}

.form-check-input:checked {
  background-color: black;
  border-color: black;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: 0 0 0 0.1rem black 0 0 0 0.1rem black;
}

#btn-menu:focus {
  border: 0;
}

.header-container {
  position: relative;
  height: 65vh;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1024px) {
  .header-container {
    height: 50vh;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}

.title-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  color: var(--bs-light);
}

.title-box h1 {
  user-select: none;
  opacity: 0.9;
  font-size: 3rem !important;
  font-weight: 900;
}

.card {
  padding: 3rem;
  border-color: var(--bs-dark);
  background-color: black;
}

@media (max-width: 1024px) {
  .card {
    padding: 0;
  }
}

.card {
  border-radius: 0.75rem;
}
img {
  border-radius: 0.5rem;
}

.row img {
  opacity: 0.7;
}

.text-accent {
  color: #8D6D42;
}

.btn-accent {
  background-color: #8D6D42;
  color: var(--bs-light);
}
.btn-accent:hover,
.btn-accent.selected {
  background-color: #d4af37;
  color: black
}

.btn-outline-accent {
  background-color: transparent;
  color: #8D6D42;
  border-color: #8D6D42;
}
.btn-outline-dark:hover {
  background-color: transparent;
  color: var(--bs-dark);
  border-color: var(--bs-dark);
}

.slot-badge {
  background-color: #8d6d42;
  color: var(--bs-light);
  padding: 8px 14px;
  border-radius: .5rem;
  cursor: pointer;
  transition: 0.2s;
}

.slot-badge:hover,
.slot-badge.selected {
  background-color: #d4af37;
  color: black
}

.badge-accent {
  background-color: #8D6D42;
}
.badge-dark {
  background-color: var(--bs-dark);
}

.disabled-row {
  opacity: 0.5;;
}

input[type="date"], input[type="time"] {
  color-scheme: dark; 
  background-color: black;
  color: var(--bs-light);
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 0.5rem
}
input[type="date"]:focus {
  background-color: black;
  color: var(--bs-light);
  border-color: var(--bs-light);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  color-scheme: dark;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1
}

.list-group .list-group-item {
  background-color: black;
  color: var(--bs-light)
}

a.list-group-item:hover {
  background-color: rgba(33, 37, 41, 0.6);
}

hr:not([size]) {
  border: 0.5px solid var(--bs-dark);;
  opacity: 0.8;
}
